@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
}

/* 768px and up */
@media only screen and (min-width: 768px) {
  /* general */
  *:focus{
    outline:solid rgb(125, 187, 207);
  }

  body {
    font-family: 'Source Code Pro','Oxygen', 'Poppins', sans-serif;
    background-color:rgb(12, 13, 27);
    cursor: default;
  }

  h1 {
    font-size: 250%;
    padding-bottom: 1%;
    color: rgb(218, 216, 216);
  }

  h2{
    font-size: 150%;
    color: rgb(218, 216, 216);
  }

  h3 {
    color: rgb(218, 216, 216);
    font-size: 105%
    }

  ::selection {
    background:  rgb(98, 132, 133); 
  }

  ::-moz-selection {
    background:  rgb(98, 125, 133); 
  }

  .griddy{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 50%;
  }

  .background-image{
    max-width: 120%;
    height:auto;
    position: fixed;
    background-size: cover;
    z-index: 0;
    top: 0; left: 0; right: 0; bottom: 0;
  }

  .parallax-bg-image-blur{
    transition: 0.5s;
    filter: blur(50px);
    transform: scale(120%) ;
  }

  .parallax-bg-image-noblur{
    transition: 1s;
    filter: blur(0px);
    transform: scale(100%) ;
  }

  .blurb-text{
    position: absolute;
    width:40%;
    top:25%;
    backdrop-filter: blur(50px);
    padding: 1%;
    margin-left: 1%;
    border-radius: 5%;
  }

  .blurb{
    grid-area: 1/1/1/1;
  }

  .fixed {
    width: fit-content;
    position: fixed;
    margin-right: 22%;
  }

  .pageSpace{
    margin-top: 80%;
  }

  .container {
    width:100%;
    height: 100%;
    display: block;
  }

  /* Header */
  .name {
    color:rgb(218, 216, 216);
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    position: relative;
  }

  /* Nav */
  .nav{
    display: block;
    text-align: right;
    z-index: 999;
    font-size:100%;
  }

  .navheader {
    color: rgb(103, 207, 255);
    cursor: pointer;
    transition: all ease-in-out 150ms;
    width: fit-content;
  }

  /* for mobile, make this the same color as selected. gets obfuscated */
  .navheader:hover {
    color: rgb(94, 108, 187);
    opacity: 0.8;
    transition: all ease-in-out 225ms;
  }

  .selected {
    color:rgb(218, 216, 216);
    cursor: pointer;
    transition: all ease-in-out 150ms;
  }

  .selected:hover {
    color: rgb(185, 185, 185);
    opacity: 0.8;
    transition: all ease-in-out 225ms;
  }

  .wrapper {
    width: 100%;
    position: fixed;
    text-align: right;
  }

  .fixed-wrapper {
    float:right;
    margin-right:1.2rem;
    text-align: right;
  }

  /* About */
  .about-section {
    background-color: rgb(8, 0, 41);
    color: rgb(218, 216, 216);
    position: relative;
    line-height: 230%;
    top:60rem;
    z-index: 1;
    height: 60rem;
    grid-area: 2/1/2/1;
  }

/* Contact */
  #Contact {
    z-index: 100;
    position: relative;
    grid-area: 3/1/3/1;
  }

  .btnDiv{
    grid-area: 3/1/3/3;
  }

  .contact-form {
    border: none;
    width: 100%;
    color: rgb(218, 216, 216);
    align-items: center;
    z-index: 100;
    display: inline-block;
  }

  .name{
    grid-area: 1/1/2/2;
  }

  .email{
    grid-area: 1/2/2/3;
  }

  .message{
    grid-area: 2/1/3/3;
  }

  .btn{
    width: 100%;
    background:  rgb(98, 133, 98);
    color: rgb(218, 216, 216);
    border: none;
    padding: 1.2%;
    margin-top: 2%;
    border-radius: 0px;
    cursor: pointer;
    text-decoration: none;
    font-size: 100%;
    font-family: inherit;
    transition: all ease 200ms;
    text-align: center;
  }

  .btn:active {
  transition: all ease 100ms;
  }

  .btn:hover {
  transition: all ease 350ms;
  background-color: rgb(13, 0, 37);
  }

  .contact-form form{
    font-family: inherit;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 5%;
    grid-row-gap: 10%;
    margin-left: 3%;
    margin-right: 3%;
    padding-bottom: 10%;
  }

  .contact-form input{
    background-color: #141341;
    width: 100%;
    height: 2.5rem;
    border-width: 0 0 0.2rem 0;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    color: rgb(103, 207, 255);
    font-family: inherit;

  }
  
  .contact-form textarea{
    background-color: #141341;
    width: 100%;
    height: 72%;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    color: rgb(103, 207, 255);
    border-width: 0 0 0.2rem 0;
    resize: none;
  }

  /* Footer */
  footer {
    display: grid;
    position: fixed;
    bottom: 0;
    left: 50%;
    z-index: 999;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5%;
  }
  
 .twitch, .youtube img{
    z-index: 999;
    width: 5vmin;
    grid-area: 1/1/1/1;
  }

  .youtube, .twitch, .bark {
    transition: all ease-in-out 150ms;
  }

  .twitch:hover, .youtube:hover {
    transition: all ease-in-out 225ms;
    opacity: 0.25;
  }
}